.login-view {
	height: 100vh;
	background-image: url('../images/login/background1.jfif');
	background-size: cover;
	background-repeat: no-repeat;
	.login-form {
		@extend %account-form;
		height: 45%;
		width: 35%;
		grid-template-rows: 2fr 2fr 1fr 1.5fr 1.5fr;

		#btn-google-login {
			@extend %btn-google-login;
		}
	}

	.signup-form {
		@extend %account-form;
		height: 45%;
		width: 35%;
		grid-template-rows: 2fr 2fr 1fr 1.5fr 1.5fr;

		#btn-google-login {
			@extend %btn-google-login;
		}
	}

	.forgotpw-form {
		@extend %account-form;
		height: 45%;
		width: 35%;
		grid-template-rows: 2fr 1fr 1.5fr;

		#btn-google-login {
			@extend %btn-google-login;
		}
	}
}

