.login-view {
	height: 100vh;
	background-color: $light-blue;
}

.login-form {
	height: 60%;
	width: 30%;
	margin: auto;
	display: grid;
	grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
	#btn-google-login {
		display: inline-block;
		background: white;
		color: #444;
		width: 100%;
		height: 100%;
		white-space: nowrap;
		&:hover {
			cursor: pointer;
		}
		.google-icon {
			background: url('../images/login/600px-Google__G__Logo.png') transparent 5px 50% no-repeat;
			display: inline-block;
			vertical-align: middle;
			width: 30%;
			height: 42px;
			background-size: contain;
		}
		.google-text {
			display: inline-block;
			vertical-align: middle;
			padding-left: 42px;
			padding-right: 42px;
			font-size: 14px;
			font-weight: bold;
			/* Use the Roboto font that is loaded in the <head> */
			font-family: 'Roboto', sans-serif;
		}

	}

/*	.login-signup-container {
		display: grid;
		grid-template-columns: 1fr 1fr; 
		#btn-login {
			background-color: $light-grey;
			color: $white;
			&:hover {
				background-color: $lighter-grey;
				color: $black;
			}
		}
		#btn-signup {
			background-color: $light-grey;
			&:hover {
				background-color: $darker-grey;
				color: $white;
			}
		}
		button {
			border-radius: 0px;
		}
	}*/

	.login-signup-container {
		#btn-login {
			cursor: pointer;
			width: 100%;
			height: 100%;
			background-color: $dark-grey;
			color: $white;
			&:hover {
				background-color: $lessdark-grey;
			}
		}
/*		#btn-signup {
			background-color: $light-grey;
			&:hover {
				background-color: $darker-grey;
				color: $white;
			}
		}*/
		button {
			border-radius: 0px;
		}
	}

	.forgotpw-signup-container {
		div {
			float: right;
		}
	}
}