/* default text px */
/* color */
/* Animation */
@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0px, 0); }
  80% {
    transform: translate(-10px, 0); } }
/* General pages' looks */
.welcome-view {
  height: 100%;
  background-color: #f1e6f1;
  color: #000; }

.login-view .login-form, .login-view .signup-form, .login-view .content .forgotpw-form {
  margin: auto;
  display: grid;
  grid-row-gap: 5px; }
  .login-view .login-form input, .login-view .signup-form input, .login-view .content .forgotpw-form input {
    padding-left: 12px; }
  .login-view .login-form .account-input button, .login-view .signup-form .account-input button, .login-view .content .forgotpw-form .account-input button {
    border-radius: 0px; }
  .login-view .login-form .account-suggestion div, .login-view .signup-form .account-suggestion div, .login-view .content .forgotpw-form .account-suggestion div {
    float: right; }

/* buttons */
.login-view .login-form #btn-google-login, .login-view .signup-form #btn-google-login, .login-view .content .forgotpw-form #btn-google-login {
  display: inline-block;
  background: white;
  color: #333;
  width: 100%;
  height: 100%;
  white-space: nowrap; }
  .login-view .login-form #btn-google-login:hover, .login-view .signup-form #btn-google-login:hover, .login-view .content .forgotpw-form #btn-google-login:hover {
    cursor: pointer; }
  .login-view .login-form #btn-google-login .google-icon, .login-view .signup-form #btn-google-login .google-icon, .login-view .content .forgotpw-form #btn-google-login .google-icon {
    background: url("../images/login/600px-Google__G__Logo.png") transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    height: 100%;
    background-size: contain; }
  .login-view .login-form #btn-google-login .google-text, .login-view .signup-form #btn-google-login .google-text, .login-view .content .forgotpw-form #btn-google-login .google-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif; }

.login-view .login-form .account-suggestion a, .login-view .signup-form .account-suggestion a, .login-view .content .forgotpw-form .account-suggestion a {
  text-decoration: none;
  color: #ffc107; }

.login-view .login-form .account-input #btn-login, .login-view .signup-form .account-input #btn-login, .login-view .content .forgotpw-form .account-input #btn-login, .login-view .login-form .account-input #btn-signup, .login-view .signup-form .account-input #btn-signup, .login-view .content .forgotpw-form .account-input #btn-signup, .login-view .login-form .account-input #btn-forgotpw, .login-view .signup-form .account-input #btn-forgotpw, .login-view .content .forgotpw-form .account-input #btn-forgotpw {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  color: #fff; }
  .login-view .login-form .account-input #btn-login:hover, .login-view .signup-form .account-input #btn-login:hover, .login-view .content .forgotpw-form .account-input #btn-login:hover, .login-view .login-form .account-input #btn-signup:hover, .login-view .signup-form .account-input #btn-signup:hover, .login-view .content .forgotpw-form .account-input #btn-signup:hover, .login-view .login-form .account-input #btn-forgotpw:hover, .login-view .signup-form .account-input #btn-forgotpw:hover, .login-view .content .forgotpw-form .account-input #btn-forgotpw:hover {
    background-color: #666; }

.account-nav .logo, .account-nav .login-signup-btn {
  margin: 4vh 0 0 0;
  line-height: 6vh;
  white-space: nowrap; }

.together-nav .center-nav .left-nav .logo, .together-nav .center-nav .right-nav .login-nav {
  line-height: 7vh;
  white-space: nowrap; }

.together-nav .center-nav .left-nav .logo, .together-nav .center-nav .right-nav .login-nav, .together-nav {
  height: 7vh; }

body {
  height: 100%;
  width: 100%;
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif; }
  body .main-view {
    display: grid;
    grid-template-columns: repeat(14, [col-start] 1fr);
    grid-template-rows: 10vh 30vh 20vh 30vh 20vh;
    grid-gap: 2vh;
    /*    nav {
          ul {
            @include tabletAndBigger {
              flex-direction: column; 
            }
          }
        }*/ }
    body .main-view .top-nav {
      grid-column: col-start / span 14;
      grid-row: 1; }
    @media (min-width: 768px) {
      body .main-view .side-nav {
        grid-column: col-start 2 / span 3;
        grid-row: 2; } }
    @media (min-width: 768px) {
      body .main-view .content {
        grid-column: col-start 5 / span 6;
        grid-row: 2 / 5; } }
    @media (min-width: 768px) {
      body .main-view .side {
        grid-column: col-start 11 / span 3;
        grid-row: 2 / 4; } }
    @media (min-width: 768px) {
      body .main-view .ad {
        grid-column: col-start 11 / span 3;
        grid-row: 4; } }
    @media (min-width: 768px) {
      body .main-view .main-footer {
        grid-column: col-start / span 14;
        grid-row: 5; } }

/*nav {	
	background: transparent;
	.navbar-brand {
		padding-left: 10%;
	}
	.login-signup-nav {
		padding-right: 10%;
		li {
			a {
				width: 80px;
				text-align: center;
				color: $white !important;
				background-color: transparent;
				border: 1px solid $off-white1;
				margin: 5px;
				&:hover {
					color: $black !important;
					background-color: $white;
				}
				&.disabled {
					background-color: $dark-purple;
					color: $lighter-grey !important;
				}
			}
		}
		.main-nav {
			li {
				&:nth-child(3) {
					border-right: 1px solid $lighter-grey;
				};
			}
		}
		.welcome-nav {
			padding-right: 10%;
			li {
				&:nth-child(1) {
					border-right: 1px solid $lighter-grey;
				};
			}
		}
	}
}*/
.account-nav {
  display: grid;
  grid-template-columns: 1fr 6fr 6fr 1fr;
  height: 10vh; }
  .account-nav .logo {
    grid-column: 2;
    background-image: url("../images/icons/together-logo-white.png");
    background-repeat: no-repeat;
    background-size: contain; }
    .account-nav .logo a {
      width: 100%;
      height: 100%; }
  .account-nav .login-signup-btn {
    grid-column: 3; }
    .account-nav .login-signup-btn div {
      width: 100px;
      width: 6.25rem;
      display: inline;
      float: right; }
      .account-nav .login-signup-btn div a {
        display: inline-block;
        width: 98%;
        height: 100%;
        text-align: center;
        color: #fff;
        /*background-color: transparent;*/
        border: 1px solid #eee;
        padding: 8%;
        text-decoration: none; }
        .account-nav .login-signup-btn div a:hover {
          color: #000;
          background-color: #fff; }
        .account-nav .login-signup-btn div a.disabled {
          background-color: #694377;
          color: #ddd; }

.together-nav {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  background-color: #fff; }
  .together-nav .center-nav {
    grid-column: 2; }
    .together-nav .center-nav .left-nav {
      width: 60%;
      display: inline-block; }
      .together-nav .center-nav .left-nav .logo {
        width: 150px;
        width: 9.375rem;
        background-image: url("../images/icons/together-logo-purple.png");
        background-repeat: no-repeat;
        background-size: contain; }
    .together-nav .center-nav .right-nav {
      width: 39%;
      display: inline-block;
      margin-left: auto; }
      .together-nav .center-nav .right-nav .login-nav {
        float: right;
        text-align: center;
        color: #fff;
        background-color: #694377;
        text-decoration: none;
        width: 100px;
        width: 6.25rem;
        animation: nudge 5s linear infinite alternate; }
        .together-nav .center-nav .right-nav .login-nav:hover {
          background-color: #ffc107;
          color: #000; }
        .together-nav .center-nav .right-nav .login-nav.enable {
          color: #886496;
          border-bottom: 2px solid #886496; }

.login-view {
  height: 100vh;
  /*background-image: url('../images/login/background1.jfif');*/
  background: linear-gradient(-45deg, #7d6c9b, #816c9b, #8e6c9b, #966c9b, #9b6c94, #966c9b, #8e6c9b, #816c9b, #7d6c9b);
  background-size: 10000% 10000%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  color: #fff;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/ }
  .login-view .login-form {
    height: 36vh;
    width: 50%;
    grid-template-rows: 2fr 2fr 1fr 2fr 2fr; }
  .login-view .signup-form {
    height: 36vh;
    width: 50%;
    grid-template-rows: 2fr 2fr 1fr 2fr 2fr; }
  .login-view .content .forgotpw-form {
    height: 20vh;
    width: 50%;
    grid-template-rows: 2fr 1fr 2fr; }

/* changing colors background */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
/*@import "pages/together";*/
.welcome-view .content {
  width: 100%; }
  .welcome-view .content .we-share-post {
    padding: 12px;
    padding: 0.75rem;
    background-color: #886496;
    border-radius: 4px;
    border-radius: 0.25rem; }
    .welcome-view .content .we-share-post textarea {
      width: 100%;
      resize: none;
      border: none;
      border-radius: 4px;
      border-radius: 0.25rem; }
    .welcome-view .content .we-share-post .post-topic {
      border-bottom: 1px solid #ddd; }
    .welcome-view .content .we-share-post .post-controls {
      height: 36px;
      height: 2.25rem;
      display: block; }
      .welcome-view .content .we-share-post .post-controls .submit-post-btn {
        display: inline-block;
        height: 100%;
        width: 96px;
        width: 6rem;
        line-height: 36px;
        line-height: 2.25rem;
        border-radius: 18px;
        border-radius: 1.125rem;
        color: #fff;
        background-color: #694377;
        cursor: pointer;
        text-align: center;
        float: right; }
      .welcome-view .content .we-share-post .post-controls .image-upload {
        height: 100%;
        display: inline-block;
        width: 36px;
        width: 2.25rem; }
        .welcome-view .content .we-share-post .post-controls .image-upload .inputfile {
          display: none; }
          .welcome-view .content .we-share-post .post-controls .image-upload .inputfile + label {
            height: 100%;
            line-height: 36px;
            line-height: 2.25rem;
            justify-content: center;
            color: white;
            display: inline-block;
            cursor: pointer; }
          .welcome-view .content .we-share-post .post-controls .image-upload .inputfile:focus + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px; }

/*.fas {
	.fa-rocket {
    	color: purple;
    }
}*/

/*# sourceMappingURL=style.css.map */
