/* default text px */
/* color */
/* Animation */
@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0px, 0); }
  80% {
    transform: translate(-10px, 0); } }
/*px to rem conversions */
/* General pages' looks */
.welcome-view {
  height: 100%;
  background-color: #f4edf4;
  color: #000; }

.login-view .login-content .login-form, .login-view .login-content .signup-form, .login-view .login-content .forgotpw-form {
  display: grid;
  grid-row-gap: 5px; }
  .login-view .login-content .login-form input, .login-view .login-content .signup-form input, .login-view .login-content .forgotpw-form input {
    padding-left: 12px; }
  .login-view .login-content .login-form .account-input button, .login-view .login-content .signup-form .account-input button, .login-view .login-content .forgotpw-form .account-input button {
    border-radius: 0px; }
  .login-view .login-content .login-form .account-suggestion div, .login-view .login-content .signup-form .account-suggestion div, .login-view .login-content .forgotpw-form .account-suggestion div {
    float: right; }

/* buttons */
.login-view .login-content .login-form #btn-google-login, .login-view .login-content .signup-form #btn-google-login, .login-view .login-content .forgotpw-form #btn-google-login {
  display: inline-block;
  background: white;
  color: #333;
  width: 100%;
  height: 100%;
  white-space: nowrap; }
  .login-view .login-content .login-form #btn-google-login:hover, .login-view .login-content .signup-form #btn-google-login:hover, .login-view .login-content .forgotpw-form #btn-google-login:hover {
    cursor: pointer; }
  .login-view .login-content .login-form #btn-google-login .google-icon, .login-view .login-content .signup-form #btn-google-login .google-icon, .login-view .login-content .forgotpw-form #btn-google-login .google-icon {
    background: url("../images/login/600px-Google__G__Logo.png") transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    height: 100%;
    background-size: contain; }
  .login-view .login-content .login-form #btn-google-login .google-text, .login-view .login-content .signup-form #btn-google-login .google-text, .login-view .login-content .forgotpw-form #btn-google-login .google-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif; }

.login-view .login-content .login-form .account-suggestion a, .login-view .login-content .signup-form .account-suggestion a, .login-view .login-content .forgotpw-form .account-suggestion a {
  text-decoration: none;
  color: #ffc107; }

.login-view .login-content .login-form .account-input #btn-login, .login-view .login-content .signup-form .account-input #btn-login, .login-view .login-content .forgotpw-form .account-input #btn-login, .login-view .login-content .login-form .account-input #btn-signup, .login-view .login-content .signup-form .account-input #btn-signup, .login-view .login-content .forgotpw-form .account-input #btn-signup, .login-view .login-content .login-form .account-input #btn-forgotpw, .login-view .login-content .signup-form .account-input #btn-forgotpw, .login-view .login-content .forgotpw-form .account-input #btn-forgotpw {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  color: #fff; }
  .login-view .login-content .login-form .account-input #btn-login:hover, .login-view .login-content .signup-form .account-input #btn-login:hover, .login-view .login-content .forgotpw-form .account-input #btn-login:hover, .login-view .login-content .login-form .account-input #btn-signup:hover, .login-view .login-content .signup-form .account-input #btn-signup:hover, .login-view .login-content .forgotpw-form .account-input #btn-signup:hover, .login-view .login-content .login-form .account-input #btn-forgotpw:hover, .login-view .login-content .signup-form .account-input #btn-forgotpw:hover, .login-view .login-content .forgotpw-form .account-input #btn-forgotpw:hover {
    background-color: #666; }

.together-nav {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */ }

.account-nav .logo, .account-nav .login-signup-btn {
  margin: 4vh 0 0 0;
  line-height: 6vh;
  white-space: nowrap; }

.together-nav .center-nav .left-nav .logo, .together-nav .center-nav .right-nav .login-nav {
  line-height: 7vh;
  white-space: nowrap; }

.together-nav .center-nav .left-nav .logo, .together-nav .center-nav .right-nav .login-nav, .together-nav {
  height: 7vh; }

/*px to rem conversions*/
/* Document level adjustments */
html {
  font-size: 17px; }

body {
  height: 100%;
  width: 100%;
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif; }
  body .main-view {
    display: grid;
    grid-template-columns: repeat(14, [col-start] 1fr);
    grid-template-rows: 10vh 1fr 10vh;
    grid-gap: 2vh;
    /*    .side-nav {
          @include tabletAndBigger {
            grid-column: col-start 2 / span 3;
            grid-row: 3 / span 3 ; 
          }
        }
        .content {
          @include tabletAndBigger {
            grid-column: col-start 5 / span 6;
            grid-row: 2 / 5; span 2
          }
        }
        .side {
          @include tabletAndBigger {
            grid-column: col-start 11 / span 3;
            grid-row: 2 / 4; 
          }
        }
        .ad {
          @include tabletAndBigger {
            grid-column: col-start 11 / span 3;
            grid-row: 4; 
          }
        }
        .main-footer {
          @include tabletAndBigger {
            grid-column: col-start / span 14; 
            grid-row: 5;
          }
        }*/
    /*    nav {
          ul {
            @include tabletAndBigger {
              flex-direction: column; 
            }
          }
        }*/ }
    body .main-view .top-nav {
      grid-column: col-start / span 14;
      grid-row: 1; }
    body .main-view .left-content {
      grid-column: 2 / span 3;
      grid-row: 2; }
    body .main-view .center-content {
      grid-column: 5 / span 6;
      grid-row: 2; }
    body .main-view .right-content {
      grid-column: 11 / span 3;
      grid-row: 2; }
    body .main-view .main-footer {
      grid-column: col-start / span 14;
      grid-row: 3; }

.account-nav {
  display: grid;
  grid-template-columns: 1fr 6fr 6fr 1fr;
  height: 10vh; }
  .account-nav .logo {
    grid-column: 2;
    background-image: url("../images/icons/together-logo-white.png");
    background-repeat: no-repeat;
    background-size: contain; }
    .account-nav .logo a {
      width: 100%;
      height: 100%; }
  .account-nav .login-signup-btn {
    grid-column: 3; }
    .account-nav .login-signup-btn div {
      /*Convert the baseline into rems*/
      /*Print the first line in pixel values*/
      width: 100px;
      /*If there is only one (numeric) value, return the property/value line for it.*/
      width: 5.8823529412rem;
      display: inline;
      float: right; }
      .account-nav .login-signup-btn div a {
        display: inline-block;
        width: 98%;
        height: 100%;
        text-align: center;
        color: #fff;
        /*background-color: transparent;*/
        border: 1px solid #eee;
        padding: 8%;
        text-decoration: none; }
        .account-nav .login-signup-btn div a:hover {
          color: #000;
          background-color: #fff; }
        .account-nav .login-signup-btn div a.disabled {
          background-color: #694377;
          color: #ddd; }

.together-nav {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr; }
  .together-nav .center-nav {
    grid-column: 2; }
    .together-nav .center-nav .left-nav {
      width: 60%;
      display: inline-block; }
      .together-nav .center-nav .left-nav .logo {
        /*Convert the baseline into rems*/
        /*Print the first line in pixel values*/
        width: 150px;
        /*If there is only one (numeric) value, return the property/value line for it.*/
        width: 8.8235294118rem;
        background-image: url("../images/icons/together-logo-purple.png");
        background-repeat: no-repeat;
        background-size: contain; }
    .together-nav .center-nav .right-nav {
      width: 39%;
      display: inline-block;
      margin-left: auto; }
      .together-nav .center-nav .right-nav .login-nav {
        float: right;
        text-align: center;
        color: #fff;
        background-color: #694377;
        text-decoration: none;
        /*Convert the baseline into rems*/
        /*Print the first line in pixel values*/
        width: 100px;
        /*If there is only one (numeric) value, return the property/value line for it.*/
        width: 5.8823529412rem;
        animation: nudge 5s linear infinite alternate; }
        .together-nav .center-nav .right-nav .login-nav:hover {
          background-color: #ffc107;
          color: #000; }
        .together-nav .center-nav .right-nav .login-nav.enable {
          color: #886496;
          border-bottom: 2px solid #886496; }

.login-view {
  height: 100vh;
  /*background-image: url('../images/login/background1.jfif');*/
  background: linear-gradient(-45deg, #7d6c9b, #816c9b, #8e6c9b, #966c9b, #9b6c94, #966c9b, #8e6c9b, #816c9b, #7d6c9b);
  background-size: 10000% 10000%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  color: #fff;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/ }
  .login-view .login-content {
    height: 80vh;
    position: relative; }
    .login-view .login-content .login-form {
      height: 36vh;
      width: 50%;
      grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -18vh 0 0 -25%; }
    .login-view .login-content .signup-form {
      height: 36vh;
      width: 50%;
      grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -18vh 0 0 -25%; }
    .login-view .login-content .forgotpw-form {
      height: 20vh;
      width: 50%;
      grid-template-rows: 2fr 1fr 2fr;
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -10vh 0 0 -25%; }

/* changing colors background */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
/*@import "pages/together";*/
.welcome-view .together-content {
  width: 100%;
  min-height: 100vh; }
  .welcome-view .together-content textarea {
    width: 100%;
    border: none;
    /*Convert the baseline into rems*/
    /*Print the first line in pixel values*/
    border-radius: 4px;
    /*If there is only one (numeric) value, return the property/value line for it.*/
    border-radius: 0.2352941176rem; }
  .welcome-view .together-content .we-share-post {
    /*Convert the baseline into rems*/
    /*Print the first line in pixel values*/
    padding: 12px;
    /*If there is only one (numeric) value, return the property/value line for it.*/
    padding: 0.7058823529rem;
    background-color: #dccddc; }
    .welcome-view .together-content .we-share-post .post-topic {
      border-bottom: 1px solid #ddd; }
    .welcome-view .together-content .we-share-post .post-controls {
      /*Convert the baseline into rems*/
      /*Print the first line in pixel values*/
      height: 36px;
      /*If there is only one (numeric) value, return the property/value line for it.*/
      height: 2.1176470588rem;
      display: block; }
      .welcome-view .together-content .we-share-post .post-controls .submit-post-btn {
        display: inline-block;
        height: 100%;
        /*Convert the baseline into rems*/
        /*Print the first line in pixel values*/
        width: 96px;
        /*If there is only one (numeric) value, return the property/value line for it.*/
        width: 5.6470588235rem;
        /*Convert the baseline into rems*/
        /*Print the first line in pixel values*/
        line-height: 36px;
        /*If there is only one (numeric) value, return the property/value line for it.*/
        line-height: 2.1176470588rem;
        /*Convert the baseline into rems*/
        /*Print the first line in pixel values*/
        border-radius: 18px;
        /*If there is only one (numeric) value, return the property/value line for it.*/
        border-radius: 1.0588235294rem;
        color: #fff;
        background-color: #694377;
        cursor: pointer;
        text-align: center;
        float: right; }
      .welcome-view .together-content .we-share-post .post-controls .image-upload {
        height: 100%;
        display: inline-block;
        /*Convert the baseline into rems*/
        /*Print the first line in pixel values*/
        width: 36px;
        /*If there is only one (numeric) value, return the property/value line for it.*/
        width: 2.1176470588rem; }
        .welcome-view .together-content .we-share-post .post-controls .image-upload .inputfile {
          display: none; }
          .welcome-view .together-content .we-share-post .post-controls .image-upload .inputfile + label {
            height: 100%;
            /*Convert the baseline into rems*/
            /*Print the first line in pixel values*/
            line-height: 36px;
            /*If there is only one (numeric) value, return the property/value line for it.*/
            line-height: 2.1176470588rem;
            justify-content: center;
            color: white;
            display: inline-block;
            cursor: pointer; }
          .welcome-view .together-content .we-share-post .post-controls .image-upload .inputfile:focus + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px; }
  .welcome-view .together-content .we-share-news {
    margin-top: 12px; }
    .welcome-view .together-content .we-share-news .we-share-new {
      /*Convert the baseline into rems*/
      /*Print the first line in pixel values*/
      padding: 12px;
      /*If there is only one (numeric) value, return the property/value line for it.*/
      padding: 0.7058823529rem;
      background-color: #fff; }
.welcome-view .left-together {
  display: grid;
  grid-template-rows: 9.4117647059rem minmax(2.1176470588rem, 14.1176470588rem);
  grid-gap: 2vh; }
  .welcome-view .left-together .side-user {
    grid-row: 1;
    /*Convert the baseline into rems*/
    /*Print the first line in pixel values*/
    height: 160px;
    /*If there is only one (numeric) value, return the property/value line for it.*/
    height: 9.4117647059rem;
    /*Convert the baseline into rems*/
    /*Print the first line in pixel values*/
    line-height: 160px;
    /*If there is only one (numeric) value, return the property/value line for it.*/
    line-height: 9.4117647059rem;
    text-align: center;
    color: #ffc107;
    background-color: #694377; }
  .welcome-view .left-together .we-share-categories {
    grid-row: 2;
    background-color: #fff;
    color: #eee;
    background-color: #694377; }
.welcome-view .right-together {
  display: grid;
  grid-template-rows: minmax(3.5294117647rem, 9.4117647059rem) 18.8235294118rem;
  grid-gap: 2vh; }
  .welcome-view .right-together .side-tasks {
    grid-row: 1;
    /*Convert the baseline into rems*/
    /*Print the first line in pixel values*/
    height: 160px;
    /*If there is only one (numeric) value, return the property/value line for it.*/
    height: 9.4117647059rem;
    /*Convert the baseline into rems*/
    /*Print the first line in pixel values*/
    line-height: 160px;
    /*If there is only one (numeric) value, return the property/value line for it.*/
    line-height: 9.4117647059rem;
    text-align: center;
    color: #ffc107;
    background-color: #694377; }
  .welcome-view .right-together .ad {
    grid-row: 2;
    background-color: #fff;
    background-color: #694377; }

/*.fas {
	.fa-rocket {
    	color: purple;
    }
}*/

/*# sourceMappingURL=style.css.map */
