/* default text px */
/* color */
.login-view .login-form, .login-view .signup-form, .login-view .content .forgotpw-form, .challenge-view .login-form, .challenge-view .signup-form, .challenge-view .forgotpw-form {
  margin: auto;
  display: grid;
  grid-row-gap: 5px; }
  .login-view .login-form input, .login-view .signup-form input, .login-view .content .forgotpw-form input, .challenge-view .login-form input, .challenge-view .signup-form input, .challenge-view .forgotpw-form input {
    padding-left: 12px; }
  .login-view .login-form .account-input button, .login-view .signup-form .account-input button, .login-view .content .forgotpw-form .account-input button, .challenge-view .login-form .account-input button, .challenge-view .signup-form .account-input button, .challenge-view .forgotpw-form .account-input button {
    border-radius: 0px; }
  .login-view .login-form .account-suggestion div, .login-view .signup-form .account-suggestion div, .login-view .content .forgotpw-form .account-suggestion div, .challenge-view .login-form .account-suggestion div, .challenge-view .signup-form .account-suggestion div, .challenge-view .forgotpw-form .account-suggestion div {
    float: right; }

.login-view .login-form #btn-google-login, .login-view .signup-form #btn-google-login, .login-view .content .forgotpw-form #btn-google-login, .challenge-view .login-form #btn-google-login, .challenge-view .signup-form #btn-google-login, .challenge-view .forgotpw-form #btn-google-login {
  display: inline-block;
  background: white;
  color: #333;
  width: 100%;
  height: 100%;
  white-space: nowrap; }
  .login-view .login-form #btn-google-login:hover, .login-view .signup-form #btn-google-login:hover, .login-view .content .forgotpw-form #btn-google-login:hover, .challenge-view .login-form #btn-google-login:hover, .challenge-view .signup-form #btn-google-login:hover, .challenge-view .forgotpw-form #btn-google-login:hover {
    cursor: pointer; }
  .login-view .login-form #btn-google-login .google-icon, .login-view .signup-form #btn-google-login .google-icon, .login-view .content .forgotpw-form #btn-google-login .google-icon, .challenge-view .login-form #btn-google-login .google-icon, .challenge-view .signup-form #btn-google-login .google-icon, .challenge-view .forgotpw-form #btn-google-login .google-icon {
    background: url("../images/login/600px-Google__G__Logo.png") transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    height: 100%;
    background-size: contain; }
  .login-view .login-form #btn-google-login .google-text, .login-view .signup-form #btn-google-login .google-text, .login-view .content .forgotpw-form #btn-google-login .google-text, .challenge-view .login-form #btn-google-login .google-text, .challenge-view .signup-form #btn-google-login .google-text, .challenge-view .forgotpw-form #btn-google-login .google-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif; }

.login-view .login-form .account-suggestion a, .login-view .signup-form .account-suggestion a, .login-view .content .forgotpw-form .account-suggestion a, .challenge-view .login-form .account-suggestion a, .challenge-view .signup-form .account-suggestion a, .challenge-view .forgotpw-form .account-suggestion a {
  text-decoration: none;
  color: #ffc107; }

.login-view .login-form .account-input #btn-login, .login-view .signup-form .account-input #btn-login, .login-view .content .forgotpw-form .account-input #btn-login, .challenge-view .login-form .account-input #btn-login, .challenge-view .signup-form .account-input #btn-login, .challenge-view .forgotpw-form .account-input #btn-login, .login-view .login-form .account-input #btn-signup, .login-view .signup-form .account-input #btn-signup, .login-view .content .forgotpw-form .account-input #btn-signup, .challenge-view .login-form .account-input #btn-signup, .challenge-view .signup-form .account-input #btn-signup, .challenge-view .forgotpw-form .account-input #btn-signup, .login-view .login-form .account-input #btn-forgotpw, .login-view .signup-form .account-input #btn-forgotpw, .login-view .content .forgotpw-form .account-input #btn-forgotpw, .challenge-view .login-form .account-input #btn-forgotpw, .challenge-view .signup-form .account-input #btn-forgotpw, .challenge-view .forgotpw-form .account-input #btn-forgotpw {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  color: #fff; }
  .login-view .login-form .account-input #btn-login:hover, .login-view .signup-form .account-input #btn-login:hover, .login-view .content .forgotpw-form .account-input #btn-login:hover, .challenge-view .login-form .account-input #btn-login:hover, .challenge-view .signup-form .account-input #btn-login:hover, .challenge-view .forgotpw-form .account-input #btn-login:hover, .login-view .login-form .account-input #btn-signup:hover, .login-view .signup-form .account-input #btn-signup:hover, .login-view .content .forgotpw-form .account-input #btn-signup:hover, .challenge-view .login-form .account-input #btn-signup:hover, .challenge-view .signup-form .account-input #btn-signup:hover, .challenge-view .forgotpw-form .account-input #btn-signup:hover, .login-view .login-form .account-input #btn-forgotpw:hover, .login-view .signup-form .account-input #btn-forgotpw:hover, .login-view .content .forgotpw-form .account-input #btn-forgotpw:hover, .challenge-view .login-form .account-input #btn-forgotpw:hover, .challenge-view .signup-form .account-input #btn-forgotpw:hover, .challenge-view .forgotpw-form .account-input #btn-forgotpw:hover {
    background-color: #444; }

body {
  height: 100%;
  width: 100%; }
  body .main-view {
    display: grid;
    grid-template-columns: repeat(14, [col-start] 1fr);
    grid-template-rows: 10vh 30vh 20vh 30vh 20vh;
    grid-gap: 2vh;
    /*    nav {
          ul {
            @include tabletAndBigger {
              flex-direction: column; 
            }
          }
        }*/ }
    body .main-view nav {
      grid-column: col-start / span 14;
      grid-row: 1 / span 1; }
    @media (min-width: 768px) {
      body .main-view .main-nav {
        grid-column: col-start 1 / span 3;
        grid-row: 2; } }
    @media (min-width: 768px) {
      body .main-view .content {
        grid-column: col-start 5 / span 6;
        grid-row: 2 / 5;
        display: grid; } }
    @media (min-width: 768px) {
      body .main-view .side {
        grid-column: col-start 11 / span 3;
        grid-row: 2 / 4; } }
    @media (min-width: 768px) {
      body .main-view .ad {
        grid-column: col-start 11 / span 3;
        grid-row: 4; } }
    @media (min-width: 768px) {
      body .main-view .main-footer {
        grid-column: col-start / span 14;
        grid-row: 5; } }

/*nav {	
	background: transparent;
	.navbar-brand {
		padding-left: 10%;
	}
	.login-signup-nav {
		padding-right: 10%;
		li {
			a {
				width: 80px;
				text-align: center;
				color: $white !important;
				background-color: transparent;
				border: 1px solid $off-white1;
				margin: 5px;
				&:hover {
					color: $black !important;
					background-color: $white;
				}
				&.disabled {
					background-color: $dark-purple;
					color: $lighter-grey !important;
				}
			}
		}
		.main-nav {
			li {
				&:nth-child(3) {
					border-right: 1px solid $lighter-grey;
				};
			}
		}
		.welcome-nav {
			padding-right: 10%;
			li {
				&:nth-child(1) {
					border-right: 1px solid $lighter-grey;
				};
			}
		}
	}
}*/
.account-nav {
  display: grid;
  grid-template-columns: 1fr 6fr 6fr 1fr;
  height: 10vh; }
  .account-nav .logo {
    margin-top: 5%;
    grid-column: 2;
    background-image: url("../images/icons/together-logo-white2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 75%; }
  .account-nav .login-signup-btn {
    grid-column: 3; }
    .account-nav .login-signup-btn div {
      margin-top: 5%;
      width: 120px;
      display: inline;
      float: right; }
      .account-nav .login-signup-btn div a {
        display: inline-block;
        width: 90%;
        height: 100%;
        text-align: center;
        color: #fff;
        /*background-color: transparent;*/
        border: 1px solid #eee;
        padding: 8%;
        text-decoration: none; }
        .account-nav .login-signup-btn div a:hover {
          color: #000;
          background-color: #fff; }
        .account-nav .login-signup-btn div a.disabled {
          background-color: #694377;
          color: #ddd; }

.welcome-nav {
  display: grid;
  grid-template-columns: 1fr 6fr 6fr 1fr; }
  .welcome-nav .logo {
    grid-column: 2;
    background-image: url("../images/icons/together-logo-white2.png");
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 10vh; }
  .welcome-nav #welcome-login {
    grid-column: 3;
    width: 120px;
    width: 7.5rem;
    float: right;
    line-height: 10vh;
    white-space: nowrap; }
    .welcome-nav #welcome-login a {
      display: inline-block;
      width: 90%;
      height: 100%;
      text-align: center;
      color: #fff;
      /*background-color: transparent;*/
      text-decoration: none; }
      .welcome-nav #welcome-login a:hover {
        color: #000;
        background-color: #fff; }
      .welcome-nav #welcome-login a.disabled {
        background-color: #694377;
        color: #ddd; }

.login-view {
  height: 100vh;
  /*background-image: url('../images/login/background1.jfif');*/
  background: linear-gradient(-45deg, #7d6c9b, #816c9b, #8e6c9b, #966c9b, #9b6c94, #966c9b, #8e6c9b, #816c9b, #7d6c9b);
  background-size: 10000% 10000%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  color: #fff;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/ }
  .login-view .login-form {
    height: 36vh;
    width: 50%;
    grid-template-rows: 2fr 2fr 1fr 2fr 2fr; }
  .login-view .signup-form {
    height: 36vh;
    width: 50%;
    grid-template-rows: 2fr 2fr 1fr 2fr 2fr; }
  .login-view .content .forgotpw-form {
    height: 20vh;
    width: 50%;
    grid-template-rows: 2fr 1fr 2fr; }

/* changing colors background */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.challenge-view {
  height: 100vh;
  /*background-image: url('../images/login/background1.jfif');*/
  background-color: #7d6c9b;
  color: #fff;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/ }
  .challenge-view .login-form {
    height: 65%;
    width: 35%;
    grid-template-rows: 2fr 2fr 1fr 1.8fr 1.8fr;
    padding-bottom: 84px; }
  .challenge-view .signup-form {
    height: 65%;
    width: 35%;
    padding-bottom: 84px;
    grid-template-rows: 2fr 2fr 1fr 1.5fr 1.5fr; }
  .challenge-view .forgotpw-form {
    height: 45%;
    width: 35%;
    padding-bottom: 84px;
    grid-template-rows: 2fr 1fr 1.5fr; }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
