.challenge-view {
	
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
/*	.login-form {
		@extend %account-form;
		height: 65%;
		width: 35%;
		grid-template-rows: 2fr 2fr 1fr 1.8fr 1.8fr;
		padding-bottom: 84px;
		#btn-google-login {
			@extend %btn-google-login;
		}
		@extend %account-suggestion;
	}

	.signup-form {
		@extend %account-form;
		height: 65%;
		width: 35%;
		padding-bottom: 84px;
		grid-template-rows: 2fr 2fr 1fr 1.5fr 1.5fr;

		#btn-google-login {
			@extend %btn-google-login;
		}
		@extend %account-suggestion;
	}

	.forgotpw-form {
		@extend %account-form;
		height: 45%;
		width: 35%;
		padding-bottom: 84px;
		grid-template-rows: 2fr 1fr 1.5fr;

		#btn-google-login {
			@extend %btn-google-login;
		}
		@extend %account-suggestion;
	}*/
}


