.welcome-view {
	@extend %together-page;
	.together-content {
		width: 100%;
		min-height: 100vh;
		textarea {
			width: 100%;
			resize: none;
			border: none;
			@include rem('border-radius', 4px);
		}
		.we-share-post {
			@include rem('padding', 12px);
			background-color: $lighter-purple;
			.post-topic {
				border-bottom: 1px solid $lighter-grey;
			}
			.post-controls {
				@include rem('height', 36px);
				display: block;
				.submit-post-btn {
					display: inline-block;
					height: 100%;
					@include rem('width', 96px);
					@include rem('line-height', 36px);
					@include rem('border-radius', 18px);
					color: $white;
					background-color: $dark-purple;
					cursor: pointer;
					text-align: center;
					float: right;	
				}
				.image-upload {
					height: 100%;
					display: inline-block;
					@include rem('width', 36px);
					.inputfile {
						display: none;
						+ label {
						    height: 100%;
						    @include rem('line-height', 36px);
						    justify-content: center;
						    color: white;
						    display: inline-block;
						    cursor: pointer;
						}
						&:focus {
							+ label {
								outline: 1px dotted #000;
								outline: -webkit-focus-ring-color auto 5px;
							}
						}
					}
				}
			}
			#attach-img-post {
			}
		}
		.we-share-news {
			margin-top: 12px;
			.we-share-new {
				@include rem('padding', 12px);
				background-color: $white;
			}
		}
	}
	.left-together {
		display: grid;
		grid-template-rows: pxToRem(160px) minmax(pxToRem(36px), pxToRem(240px));
		grid-gap: 2vh;
		.side-user {
			grid-row: 1;
			@include rem('height', 160px);
			@include rem('line-height', 160px);
			text-align: center;
			color: $yellow;
			background-color: $dark-purple;
		}
		.we-share-categories {
			grid-row: 2;
			background-color: $white;
			color: $off-white1;
			background-color: $dark-purple;
		}
	}
	.right-together {
		display: grid;
		grid-template-rows: minmax(pxToRem(60px), pxToRem(160px)) pxToRem(320px);
		grid-gap: 2vh;
		.side-tasks {
			grid-row: 1;
			@include rem('height', 160px);
			@include rem('line-height', 160px);
			text-align: center;
			color: $yellow;
			background-color: $dark-purple;
		}
		.ad {
			grid-row: 2;
			background-color: $white;
			background-color: $dark-purple;
		}
	}
}


/*.fas {
	.fa-rocket {
    	color: purple;
    }
}*/