nav {	

	.navbar-brand {
		padding: 0;
	}
	div {
		.login-signup-nav {
			li {
				a {
					color: $black;
					&:hover {
						/*background-color: $dark-grey !important;*/
					}
				}
			}
		}
		.nav-page-name {
			li {
				cursor: default;
			}
		}
	}
}