nav {	
	background: transparent;
	.navbar-brand {
		padding: 0;
	}
	div {
		.login-signup-nav {
			li {
				padding: 10px;
				a {
					width: 80px;
					text-align: center;
					color: $white !important;
					background-color: transparent;
					border: 1px solid $off-white1;
					margin: 15px;
					&:hover {
						color: $black !important;
						background-color: $white;
					}
					&.disabled {
						background-color: $dark-purple;
						color: $lighter-grey !important;
					}
				}
			}
		}
		.nav-page-name {
			li {
				cursor: default;
			}
		}
		.main-nav {
			li {
				&:nth-child(3) {
					border-right: 1px solid $lighter-grey;
				};
			}
		}
	}
}