/*nav {	
	background: transparent;
	.navbar-brand {
		padding-left: 10%;
	}
	.login-signup-nav {
		padding-right: 10%;
		li {
			a {
				width: 80px;
				text-align: center;
				color: $white !important;
				background-color: transparent;
				border: 1px solid $off-white1;
				margin: 5px;
				&:hover {
					color: $black !important;
					background-color: $white;
				}
				&.disabled {
					background-color: $dark-purple;
					color: $lighter-grey !important;
				}
			}
		}
		.main-nav {
			li {
				&:nth-child(3) {
					border-right: 1px solid $lighter-grey;
				};
			}
		}
		.welcome-nav {
			padding-right: 10%;
			li {
				&:nth-child(1) {
					border-right: 1px solid $lighter-grey;
				};
			}
		}
	}
}*/
.account-nav {
	display: grid;
	grid-template-columns: 1fr 6fr 6fr 1fr;
	height: 10vh;
	.logo {
		grid-column: 2;
		background-image: url("../images/icons/together-logo-white.png");
		background-repeat: no-repeat;
		background-size: contain;
		@extend %login-nav-height;
		a {
			width: 100%;
			height: 100%;
		}
	}
	.login-signup-btn {
		grid-column: 3;
		@extend %login-nav-height;
		div {
			@include rem('width', 100px);
			display: inline;
			float: right;
			a {
				display:inline-block;
			    width:98%;
			    height:100%;
			    text-align: center;
				color: $white;
				/*background-color: transparent;*/
				border: 1px solid $off-white1;
				padding: 8%;
				text-decoration: none;
				&:hover {
					color: $black;
					background-color: $white;
				}
				&.disabled {
					background-color: $dark-purple;
					color: $lighter-grey;
				}
			}
		}
	}
}

.together-nav {
	display: grid;
	grid-template-columns: 1fr 12fr 1fr;
	background-color: $white;
	@extend %main-nav-height;
	.center-nav {
		
		grid-column: 2;
		.left-nav {
			width: 60%;
			display: inline-block;
			.logo {
				@include rem('width', 150px);
				@extend %main-nav-lineheight;
				background-image: url("../images/icons/together-logo-purple.png");
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
		.right-nav { 
			width: 39%;
			display: inline-block;
			margin-left:auto;
			.login-nav {
				float: right;
			    text-align: center;
				color: $white;
				background-color: $dark-purple;
				text-decoration: none;
				@extend %main-nav-lineheight;
				@include rem('width', 100px);
				animation: nudge 5s linear infinite alternate;
				&:hover {
					background-color: $yellow;
					color: $black;
				}
				&.enable {
					color: $light-purple;
					border-bottom: 2px solid $light-purple;
				}
			}
		}
	}
}

